.app {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  margin: 150px auto;
}

.table {
  width: 40vw;
  margin: 0 auto;
  border-radius: 8px;
  padding: 32px;
  text-align: center;
  background-color: #202024;
}

.title {
  background-color: #202024;
  color: white;
  font-size: 20px;
  margin-bottom: 16px;
}

.boxDados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
  background-color: #202024;  
}

.btnDado {
  width: 140px;
  height: 150px;
  border-radius: 8px;
  border: none;
  font-size: 28px;
  font-weight: bold;
  background-color: transparent;
  margin: 12px;
  transition: transform 0.3s;
  cursor: pointer;
}

.btnDado:hover {
  transform: scale(1.1);
}

.btnDado:active {
  transform: scale(1.3);
}

.lados {
  background-color: #202024;
  color: white;
  font-size: 20px;
}

strong {
  background-color: #202024;
}

.resultado {
  background-color: #202024;
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
}

.boxHistorico {
  display: grid;
  justify-content: center;
  margin-top: 54px;
  border-radius: 8px;
  padding: 24px 0;
  background-color: #121214;
}

.boxNumeros {
  display: grid;
  justify-content: center;
}

.titleHistorico {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-self: center;
  padding: 16px 24px 32px 24px;
}

li {
  color: white;
  font-size: 18px;
}

.btnLimpar {
  width: 160px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  background-color: #f5ad00;
  color: white;
  justify-self: center;
  cursor: pointer;
  text-shadow: 0px 0px white, 0px -1.5px #d28d00;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}

.btnLimpar:active {
  box-shadow: 0 0 0 0 black, inset 2px 2px 2px black; 
}
