* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
	-webkit-font-smoothing: antialiased;
}

body {
  background-image: url("./assets/rpg-dark.png");
  background-repeat: no-repeat;
  background-size: cover;
}

